<div class="Badge">
    <slot>
        <p>Disponible para trabajar</p>
    </slot>

</div>

<style>
    .Badge {
        display: inline-block;
        background-color: #4CAF50;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 9999px;
        font-size: 0.875rem;
        font-weight: 600;
    }
</style>