<footer>
  <div class="footer-text">
    <p>Hecho con ❤️ por Santiago Pratti</p>
  </div>
 

</footer>


<style>
  
    footer {
        justify-items: center;
        align-items: center;
        padding: 10px 20px; /* Reduce el padding para hacer el footer más bajo */
        margin-top: auto; /* Empuja el footer hacia abajo */;
    }
</style>