<footer>
  <div class="footer-text">
    <p>© 2024 Club Atletico Belgrano de Morse. Todos los derechos reservados.</p>
  </div>
  <div class="footer-icons">
    <a href="https://www.facebook.com/belgrano.demorse" target="_blank"><img src="icons/facebook.png" alt="facebook logo"></a>
    <a href="https://www.instagram.com/clubelgranodemorse/" target="_blank"><img src="icons/instagram.png" alt="instagram logo"></a>

  </div>

</footer>


<style>
    footer {
        background-color: #001F3F;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px; /* Reduce el padding para hacer el footer más bajo */
        margin-top: auto; /* Empuja el footer hacia abajo */
    }
.footer-text {
  color: azure;
  font-size: 0.9rem; /* Ajusta el tamaño de la fuente si es necesario */
}

.footer-icons {
  display: flex;
}


.footer-icons img {
  padding: 5px; /* Reduce el espacio alrededor de los iconos */
  height: 30px; /* Reduce el tamaño de los iconos */
  width: 30px;
}

</style>