<header>

    <nav>
    <div>
        <a href="#Experiencia">Experiencia</a>
        <a href="#Proyectos">Proyectos</a>
        <a href="#Sobremi">Sobre mi</a>
        <a href="#Contacto">Contacto</a>
    </div>
    </nav> 

</header>


<style>
    
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 78px;
        padding: 0 20px;
        position: static;
        top: 0;
    }

    a { 
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 5px;
        transition: 0.4s;
    }

    nav {
        display: flex;
        gap: 10px;
    }

    a:hover {
        padding: 0 30px;
        transition: padding 0.4s ease;
        color: #00516E;
  }
</style>
